<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подробнее об изделии</title>
    <link th:href="@{/css/product.css}" type="text/css" rel="stylesheet">
    <link href="/image/logo2.jpg" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<h3>Подробнее об изделии: </h3>
<p th:text="'Наименование: ' + ${product.getTitle()}"></p>
<p th:text="'Описание: ' + ${product.getDescription()}"></p>
<p th:text="'Цена: ' + ${product.getPrice()}"></p>
<p th:text="'Магазин: ' + ${product.getWarehouse()}"></p>
<p th:text="'Коллекция: ' + ${product.getSeller()}"></p>
<p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
<div class="result">
<div th:each="img : ${product.getImageList()}">
    <img width="200px" th:src="'/img/' + ${img.getFileName()}">
</div>
</div>
</body>
</html>