<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link href="/image/logo2.jpg" rel="icon">
    <script src="https://kit.fontawesome.com/cdf18c93d7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="main">
<div class="contain">
<h1>Личный кабинет</h1>
<form method="post" th:action="@{/logout}">
    <button type="submit">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        Выйти из личного кабинета
    </button>
</form>
<br>
<form method="get" th:action="@{/cart}">
    <button type="submit">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Корзина
    </button>
</form>
<br>
<form method="get" th:action="@{/orders}">
    <button type="submit">
    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        Заказы
    </button>
</form>

<form th:method="POST" th:action="@{/person account/product/search}">
    <fieldset>
        <legend>Выберите параметры для поиска:</legend>
        <label for="search">Поиск по наименованию</label>
        <input type="text" id="search" name="search" th:value="*{value_search}">
        <br>
        <p>Цена, P</p>
        <label for="ot">От</label>
        <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
        <label for="do">До</label>
        <input type="text" name="do" id="do" th:value="*{value_price_do}">
        <br>
        <br>
        <div>
            <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
            <label for="ascending_price">Отсортировать по возрастанию цены</label>
            <input type="radio" id="descending_price" name="price"
                   value="sorted_by_descending_price">
            <label for="descending_price">Отсортировать по убыванию цены</label>
            <p>Категория товаров: </p>
            <input type="radio" id="furniture" name="contract" value="furniture">
            <label for="furniture">Серьги</label>
            <input type="radio" id="appliances" name="contract" value="appliances">
            <label for="appliances">Браслеты</label>
            <input type="radio" id="clothes" name="contract" value="clothes">
            <label for="clothes">Кольца</label>
            <br>
            <br>
            <input type="submit" value="Найти">
        </div>
    </fieldset>
</form>
</div>
<hr>
<h3>Результат поиска</h3>
<div class="result">
<div class="card" th:each="product : ${search_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="200px">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <a th:href="@{/cart/add/{id}(id=${product.getId()})}">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Добавить товар в корзину
    </a>
    <hr>
</div>
</div>
<hr>

<h3>Доступные товары: </h3>
<div class="catalog">
<div class="card" th:each="product : ${products}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="200px">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <a th:href="@{/cart/add/{id}(id=${product.getId()})}">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Добавить товар в корзину
    </a>
    <hr>
</div>
</div>
</div>
</body>
</html>
