* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url("sea.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h3{
    color: #252728;
    letter-spacing: 2px;
    padding-right: 5%;
}
h4{
    margin: 10px;
    letter-spacing: 2px;
}
.main{
    margin: 20px 45px 10px 45px;
    text-align: center;

}
.home{
    display: grid;
    grid-template-columns: 5% 1fr;
    align-items: center;
    justify-items: center;
}
img{
    height: 270px;
    border-radius: 10px;
    opacity: 0.6;
    box-shadow: grey 10px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
}
fieldset{
    border-radius: 10px;
    box-shadow: grey 10px 10px 20px;
    margin: 20px;
    padding: 0px 20px 20px 20px;
    font-size: 14px;
}
fieldset input {
    border-radius: 5px;
    border-color: grey;
    background-color: #17a3f92b;
    margin: 8px;
    width: 270px;
    height: 30px;
    padding-left: 10px;
}
fieldset input[type="submit"]{
    width: 200px;
    height: 35px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3px;
    background-color: #17a3f92b;
    border-color: silver;
    box-shadow: gray 10px 10px 11px;
}
fieldset input[type="submit"]:hover{
    color: white;
}
a{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3px;
    color: black;
}
.registration{
    width: 250px;
    height: 35px;
    border: silver solid 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #17a3f92b;
    box-shadow: gray 10px 10px 11px;
    border-radius: 5px;
}
a:hover{
    color: white;
}
hr{
    opacity: 0.5;
    border-width: 2px;
    width: 500px;
}

.password {
    position: relative;
}
.password-control {
    position: absolute;
    top: 13px;
    right: 41%;
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url(no-eye.png);
    background-size: 30px;
    background-repeat: no-repeat;
    opacity: 70%;
}
.password-control.view {
    background-image: url(eye.png);
    background-size: 30px;
    background-repeat: no-repeat;
}